.footer {
    background-color: indigo;
    color: white;
    text-align: center;
    margin: 0;
    padding: 1.5em;
    width: 100%; 
  
    &__text {
        margin: 0;
        font-size: 0.8em;
    }
}